<div class="counter-block">
    <div class="content">
        <div class="item-row">
            <div class="item-wrapper"></div>
            <div class="item-wrapper">
                <div class="title">
                    <div class="content-wrapper">
                        <h2>&lt;О НАС В ЦИФРАХ&gt;</h2>
                        <span class="subtitle">ЗА ВОСЕМЬ ЛЕТ</span>
                    </div>

                </div>
            </div>
            <div class="item-wrapper"></div>
        </div>
        <div class="item-row">
            <div class="item-wrapper">
                <div class="item-content">
                    <div class="img"><img src="images/icnb01.png" alt=""></div>
                    <div class="txt">
                        <div class="number troll-counter"  data-options-endN="10464">0</div>
                        <div class="name">БАННЕРОВ</div>
                        <div class="act">анимировано</div>
                    </div>
                </div>
            </div>
            <div class="item-wrapper">
                <div class="item-content">
                    <div class="img"><img src="images/icnb02.png" alt=""></div>
                    <div class="txt">
                        <div class="number troll-counter"  data-options-endN="384">0</div>
                        <div class="name">САЙТОВ</div>
                        <div class="act">создано</div>
                    </div>
                </div>
            </div>
            <div class="item-wrapper">
                <div class="item-content">
                    <div class="img"><img src="images/icnb03.png" alt=""></div>
                    <div class="txt">
                        <div class="number troll-counter"  data-options-endN="1056">0</div>
                        <div class="name">ЛЕНДИНГОВ</div>
                        <div class="act">сделано</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="item-row">
            <div class="item-wrapper">
                <div class="item-content">
                    <div class="img"><img src="images/icnb04.png" alt=""></div>
                    <div class="txt">
                        <div class="number troll-counter"  data-options-endN="4992">0</div>
                        <div class="name">БРЕНДИНГОВ</div>
                        <div class="act">оформлено</div>
                    </div>
                </div>
            </div>
            <div class="item-wrapper">
                <div class="item-content">
                    <div class="img"><img src="images/icnb05.png" alt=""></div>
                    <div class="txt">
                        <div class="number troll-counter"  data-options-endN="184">0</div>
                        <div class="name">ЛОГОТИПОВ</div>
                        <div class="act">нарисовано</div>
                    </div>
                </div>
            </div>
            <div class="item-wrapper">
                <div class="item-content">
                    <div class="img"><img src="images/icnb06.png" alt=""></div>
                    <div class="txt">
                        <div class="number troll-counter"  data-options-endN="426">0</div>
                        <div class="name">клиентов</div>
                        <div class="act">осчастлИвлено</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="item-row">
            <div class="item-wrapper">
                <div class="item-content">
                    <div class="img"><img src="images/icnb07.png" alt=""></div>
                    <div class="txt">
                        <div class="number troll-counter"  data-options-endN="36">0</div>
                        <div class="name">МЕТРОВ бороды</div>
                        <div class="act">отпущено</div>
                    </div>
                </div>
            </div>
            <div class="item-wrapper">
                <div class="item-content">
                    <div class="img"><img src="images/icnb08.png" alt=""></div>
                    <div class="txt">
                        <div class="number troll-counter"  data-options-endN="18">0</div>
                        <div class="name">тонн ягод годжи</div>
                        <div class="act">продано</div>
                    </div>
                </div>
            </div>
            <div class="item-wrapper">
                <div class="item-content">
                    <div class="img"><img src="images/icnb09.png" alt=""></div>
                    <div class="txt">
                        <div class="number troll-counter"  data-options-endN="5" data-options-duration="1000">0</div>
                        <div class="name">ДЕТЕЙ</div>
                        <div class="act">сделано</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="item-row">
            <div class="item-wrapper"></div>
            <div class="item-wrapper"></div>
            <div class="item-wrapper"></div>


        </div>

    </div>
</div>